@import url("colors.css");

#workspaces button {
    background-color: transparent;
    color: @foreground;
    padding: 0px 8px;
    margin: 1px 1px;
    border-radius: 7px;
    min-width: 16px;
    min-height: 14px;
    opacity: 0.8;
}
#workspaces button:hover {
    background-color: alpha(@primary, 0.3);
    color: @foreground;
    opacity: 1;
}
#workspaces button.active {
    background-color: @primary;
    color: @background_original;
    opacity: 1;
}
#workspaces button.urgent {
    background-color: @red;
    color: @background_original;
}

* {
    font-family:
        "JetBrainsMono Nerd Font", "hack Nerd Font", FontAwesome, sans-serif;
    font-size: 10px;
    font-weight: normal;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: @foreground;
}

window#waybar {
    background-color: @background_rgba;
    color: @foreground;
}

#custom-launcher,
#workspaces,
#clock,
#battery,
#tray,
#custom-cpu-power {
    background-color: @background_alt_rgba;
    color: @foreground;
    padding: 1px 10px;
    margin: 2px 3px;
    border-radius: 10px;
    min-height: 12px;
    border: 2px solid @foreground;
}

/* --- ESTILOS ESPECÃFICOS Y DE ESTADO --- */
#custom-launcher {
    font-size: 12px;
    padding: 1px 8px;
}
#temperature.critical {
    color: @red;
}
#pulseaudio.muted {
    color: @red;
}

@keyframes battery-charging-fill {
    0% {
        background-size: 0% 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}
#battery.charging {
    color: @background_original;
    background-image: linear-gradient(to right, @green, @green);
    background-repeat: no-repeat;
    background-position: left center;
    animation-name: battery-charging-fill;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.full,
#battery.charging.full {
    animation: none;
    background-image: none;
    color: @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#temperature,
#pulseaudio {
    background-color: @background_alt_rgba;
    border-top: 2px solid @foreground;
    border-bottom: 2px solid @foreground;
    border-left: none;
    border-right: none;
    margin: 2px 0;
    min-height: 12px;
}

#temperature {
    padding: 1px 6px 1px 12px;
    border-left: 2px solid @foreground;
    border-radius: 10px 0 0 10px;
}

#pulseaudio {
    padding: 1px 12px 1px 6px;
    border-right: 2px solid @foreground;
    border-radius: 0 10px 10px 0;
}

#cpu,
#memory,
#backlight {
    background-color: @background_alt_rgba;
    border-top: 2px solid @foreground;
    border-bottom: 2px solid @foreground;
    border-left: none;
    border-right: none;
    margin: 2px 0;
    min-height: 12px;
}

#cpu {
    padding: 1px 6px 1px 12px;
    border-left: 2px solid @foreground;
    border-radius: 10px 0 0 10px;
}

#memory {
    padding: 1px 6px;
}

#backlight {
    padding: 1px 12px 1px 6px;
    border-right: 2px solid @foreground;
    border-radius: 0 10px 10px 0;
}
